
<div class="w-full sm:w-11/12 md:w-5/6 lg:w-3/4 mx-auto min-h-full border-0 sm:border-x-2 border-black bg-neutral-50">
  <div class="w-full lg:10/12 xl:w-3/4 mx-auto p-6">
    <div class="text-center text-3xl font-bold border-b-2 mb-3 pb-3">Pokemon</div>
    <div class="flex gap-3">
      <!-- Generation Dropdown-->
      <mat-form-field>
        <mat-label>Pokemon Generation</mat-label>
        <mat-select value="1" (selectionChange)="onGenerationChange($event)">
          @for (generation of generations; track generation; let i = $index) {
            <mat-option value="{{i + 1}}">Generation {{i + 1}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- Pokemon name search-->
      <mat-form-field>
        <mat-label>Pokemon Name</mat-label>
        <input matInput type="text" (input)="onNameChange($event)"/>
      </mat-form-field>
      <!-- Pokemon type search -->
      <mat-form-field>
          <mat-label>Types</mat-label>
          <mat-select (selectionChange)="onTypeChange($event)">
            <mat-option value="none">None</mat-option>
            @for (type of pokemonTypes; track type) {
              <mat-option value="{{type.name}}">{{type.name.charAt(0).toUpperCase() + type.name.slice(1)}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
    </div>

    <mat-paginator class="mb-3"
      [length]="currentPokemonList.length"
      (page)="handlePageEvent($event)"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="pageSizeOptions"
    >
    </mat-paginator>
    <ng-container *ngIf="currentPokemonList.length > 0; else no_pokemon_found">
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
        
          <div *ngFor="let pokemonDetails of pokemonDetailedList" >
            <mat-card 
              class="p-3 transition ease-in-out hover:translate-y-1 hover:bg-gray-300 cursor-pointer"
              [routerLink]="['/pokemon', pokemonDetails.id]"
            >
              <h3 class="text-center border-4">{{pokemonDetails.name.charAt(0).toUpperCase() + pokemonDetails.name.slice(1)}} #{{pokemonDetails.id}}</h3>
              <img src="{{pokemonDetails.sprites.other['official-artwork'].front_default}}" class="border-4"/>
            </mat-card>
          </div>
        
      </div>
    </ng-container>
    <ng-template #no_pokemon_found>
      <div class="text-center py-3 text-3xl border-2">No Pokemon Found</div>
    </ng-template>
  </div>
</div>

