<div class="bg-white w-full sm:w-11/12 md:w-5/6 lg:w-3/4 mx-auto border-black border-0 sm:border-x-2 p-6 bg-neutral-50">
  
  
  <div class="w-full lg:w-10/12 xl:w-3/4 mx-auto">
    <div class="text-3xl text-center border-b-2 mb-3 font-bold pb-3">Item Categories</div>
    <!-- Sort values -->
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select value="asc" (selectionChange)="onSortCategories($event)">
        <mat-option value="asc">Ascending</mat-option>
        <mat-option value="desc">Descending</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Category containers -->
    <ng-container *ngFor="let category of itemCategories">
      <div 
        class="bg-gray-100 p-1 cursor-pointer hover:bg-gray-300 text-center border-2 my-1"
        [routerLink]="['/items/category/', category.id]"
      >
        {{category.name}}
      </div>
    </ng-container>
  </div>
</div>

