<div class="h-full w-full sm:w-11/12 md:w-5/6 lg:w-3/4 bg-white mx-auto p-6 border-x-2 border-black">
  <div class="pt-3 text-red-500 font-bold text-center border-b-2 text-5xl pb-3">Pokedex</div>
  <div class="text-3xl py-6 text-center">Welcome to the Pokedex! This is your one stop place for all information regarding pokemon!</div>
  <div class="flex justify-center gap-4 flex-wrap">
    <img src="{{pikachuImage}}" class="pixelated-image min-h-[150px] min-w-[150px]"/>
    <img src="{{squirtleImage}}" class="pixelated-image min-h-[150px] min-w-[150px]"/>
    <img src="{{bulbasaurImage}}" class="pixelated-image min-h-[150px] min-w-[150px]"/>
    <img src="{{charmanderImage}}" class="pixelated-image min-h-[150px] min-w-[150px]"/>
  </div>
</div>
