<mat-toolbar color="primary" class="toolbar">
  <div class="flex w-full justify-between">
    <div routerLink="home" class="flex items-center cursor-pointer gap-3">
      <img src="assets/images/pokeball.png" class="h-[40px] align-center"/>
      <div class="text-lg ">
        Pokedex
      </div>
      
    </div>
    <ul class="flex gap-2">
      <li><a routerLink="pokemon" class="text-base hover:text-gray-300">Pokemon</a></li>
      <li><a routerLink="berries" class="text-base hover:text-gray-300">Berries</a></li>
      <li><a routerLink="items" class="text-base hover:text-gray-300">Items</a></li>
    </ul>
  </div>
</mat-toolbar>
