<div class="bg-white w-full sm:w-11/12 md:w-5/6 lg:w-3/4 mx-auto min-h-full border-0 sm:border-x-2 border-black p-6 bg-neutral-50">
  <div class="w-full lg:w-10/12 xl:w-3/4 mx-auto ">
    <div class="text-center border-b-2 mx-auto pb-3 text-3xl font-bold">{{categoryTitle}}</div>
  <mat-paginator class="my-3"
    [length]="itemList.length"
    (page)="handlePageEvent($event)"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
  >
  </mat-paginator>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
      <ng-container *ngFor="let item of itemListToDisplay">
        <mat-card 
          class="p-3 transition ease-in-out hover:translate-y-1 hover:bg-gray-300 cursor-pointer"
          [routerLink]="['/items/category/', categoryId, 'item', item.id]"
        >
          <div 
            class="p-1 text-center border-2 mb-3"
          >
            {{item.name}}
          </div>
          <div *ngIf="item.image; else no_item_image" class="border-2">
            <img src="{{item.image}}" class="w-full pixelated-image"/>
          </div>
          <ng-template #no_item_image>
            <div class="relative">
              <img src="{{'assets/images/pokeball.png'}}" class="w-full pixelated-image  opacity-25"/>
              <div class="text-xl absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-center">NO IMAGE FOUND</div>
            </div>
          </ng-template>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>

